<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <span>Nagano Cake</span>
          </a>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="customer-name">
                  ようこそ、<%= current_customer.last_name %> さん
                </li>
                <li class="ml-4">
                  <%= link_to "マイページ", mypage_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "商品一覧", items_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "カート", cart_items_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4 mr-4">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="ml-4">
                  <%= link_to "商品一覧", admin_items_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "会員一覧", admin_customers_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "注文履歴一覧", admin_orders_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4 mr-4">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark" %>
                </li>
              <% else %>
                <li class="ml-4">
                  <%= link_to "About", homes_about_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "商品一覧", items_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4">
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-dark" %>
                </li>
                <li class="ml-4 mr-4">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-dark" %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      
    </header>
    
    <main style="margin-bottom:80px">
      <div class="container p-3">
        <p class="text-success"><%= notice %></p>
        <p class="text-danger"><%= alert %></p>
        <%= yield %>
      </div>
    </main>

    <footer class="text-center", style="height:50px">
      <div class="container">
        <div class="footer_copyright">
          Copyright ©2022 Nagano_Cake All Rights Reserved.
        </div>
      </div>
    </footer>

  </body>
</html>
